<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-inputs">
    <%= f.association :movie,
                :label => "What movie do you want to add to this list?",
                collection: Movie.all %>
    <%= f.input :comment, :label => "Any comments about the movie?" %>
  </div>

  <div class="form-actions">
    <%= f.submit%>
  </div>
<% end %>
