<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://files.delhievents.com/images/events/2019/september/film-reel.jpg);">

  <div class="banner-info">
    <h1 id="banner-title">.MOVIE.LISTS.</h1>
    <%# <div class="container"> %>
      <div class="banner-content">
        <p>Organise your movies into personlised lists</p>
        <a class="ticket" <%= link_to "Create a new list!", new_list_path%> </a>
      </div>
    <%# </div> %>
  </div>

</div>

<div class="container">
  <h1>.MY.LISTS.</h1>
  <div class="cards">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1524985069026-dd778a71c7b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2342&q=80)">
          <%= link_to list.name, list_path(list.id)%>
        </div>
      <% end %>
  </div>
</div>
